<div>
     <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><h1><img src="images/disney.png" height="80px" alt="" /></h1></a>
     </div>
  
    <div class="sidebar-nav">
      <ul class="nav nav-sidebar">
         <li><a ng-href="#/main" class="b40">Home</a></li>
         <li><a ng-href="#/video" class="b41">Video</a></li>
         <li><a ng-href="#/list?genre='action'" class="b42">Action</a></li>
         <li><a ng-href="#/list?genre='drama'" class="b43">Drama</a></li>
         <li><a ng-href="#/list?genre='family'" class="b44">Family</a></li>
         <li><a ng-href="#/list?genre='comedy'" class="b45">Comedy</a></li>
         <li><a ng-href="#/list?genre='kids'" class="b46">Kids</a></li>
         <li><a ng-href="#/list?genre='scifi'" class="b47">Sci-Fi</a></li>
         <li><a ng-href="#/list?genre='favourites'" class="b48">My Favourites</a></li>
        <li><a ng-href="#/upload" class="b49">Upload video</a></li>
        <li><a ng-href="#/home" class="b50">Home</a></li>
      </ul>
      </div>
    </div>
</div>