 
<div style="background-color: #303030;">
     <div id="navbar" class="navbar-collapse collapse">
        <div class="top-search">
          <form class="navbar-form navbar-right">
            <input type="text" id="searchbox" class="form-control b39" placeholder="Search...">
          </form>
          <div id="keyboard">
 			<div id="num1" class="b0">Clear</div><br>
 			<div id="num1"  class="b1">A</div>
 			<div id="num1"  class="b2">B</div>
 			<div id="num1"  class="b3">C</div>
 			<div id="num1"  class="b4">D</div>
 			<div id="num1"  class="b5">E</div>
 			<div id="num1"  class="b6">F</div><br>
 			<div id="num1"  class="b7">G</div>
 			<div id="num1"  class="b8">H</div>
 			<div id="num1"  class="b9">I</div>
 			<div id="num1"  class="b10">J</div>
 			<div id="num1"  class="b11">K</div>
 			<div id="num1"  class="b12">L</div><br>
 			<div id="num1"  class="b13">M</div>
 			<div id="num1"  class="b14">N</div>
 			<div id="num1"  class="b15">O</div>
 			<div id="num1"  class="b16">P</div>
 			<div id="num1"  class="b17">Q</div>
 			<div id="num1"  class="b18">R</div><br>
 			<div id="num1"  class="b19">S</div>
 			<div id="num1"  class="b20">T</div>
 			<div id="num1"  class="b21">U</div>
 			<div id="num1"  class="b22">V</div>
 			<div id="num1"  class="b23">W</div>
 			<div id="num1"  class="b24">X</div><br>
 			<div id="num1"  class="b25">Y</div>
 			<div id="num1"  class="b26">Z</div>
 			<div id="num1"  class="b27">0</div>
 			<div id="num1" class="b28">1</div>
 			<div id="num1" class="b29">2</div>
 			<div id="num1" class="b30">3</div><br>
 			<div id="num1" class="b31">4</div>
 			<div id="num1" class="b32">5</div>
 			<div id="num1" class="b33">6</div>
 			<div id="num1" class="b34">7</div>
 			<div id="num1" class="b35">8</div>
 			<div id="num1" class="b36">9</div><br>
 			<div id="delete" class="b37">Delete</div>
 			<div id="space" class="b38">Space</div>
 		</div>
        </div>
      </div>
</div>